/* 
* <576:     xs
* 576-768:  sm
* 768-992:  md
* 992-1200: lg
* 1200 -1400: xl
* >= 1400:  xxl
*/

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .box-divider {
    display: none;
  }

  .maybi-footer {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .footer-about {
    gap: 1em;
  }

  .hotline-icon-wrapper {
    width: 3.6em;
    height: 3.6em;
  }
}

@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 767px) {
}

@media (max-width: 991px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
}

@media only screen and (min-width: 609px) and (max-width: 991px) {
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}
