.benefits {
  background-color: var(--bg-list);
}

.benefits_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
  padding: 1em;
  gap: 1em;
}

.benefits_title::before,
.benefits_title::after {
  content: "";
  display: block;
  width: 5em;
  height: 0.6em;
}

.benefits_title::before {
  background:
    conic-gradient(from 225deg at 100% 50%, currentColor 90deg, transparent 0)
      right center / 0.3em 0.6em no-repeat,
    linear-gradient(to right, transparent, currentColor) left center /
      calc(100% - 0.2em) 0.1em no-repeat;
}

.benefits_title::after {
  background:
    conic-gradient(from 45deg at 0% 50%, currentColor 90deg, transparent 0) left
      center / 0.3em 0.6em no-repeat,
    linear-gradient(to left, transparent, currentColor) right center /
      calc(100% - 0.2em) 0.1em no-repeat;
}

.benefits_list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2em;
  padding: 2em 0;
  margin: 0 2em;
}

.benefits_item {
  flex: 1;
  padding: 2em 1.5em;
  background-color: var(--bg-list);
  border-radius: 1em;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.benefits_item-hd {
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--red);
}

.benefits_icon {
  width: 4.5em;
  height: 4.5em;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid var(--red);
  flex-shrink: 0;
}

.benefits_item-ttl {
  font-size: 1.6rem;
  font-weight: bold;
}

.benefits_item-bd {
  padding: 0;
}

.benefits_item-desc {
  font-size: 1.3rem;
  font-weight: bold;
}

.categories {
  display: grid;
  grid-template-columns: 3.2fr 6.8fr;
  align-items: center;
  gap: 3em;
  margin-top: 2em;
  padding: 2em;
  border-radius: 1em;
  background-color: var(--bg-list);
}

.categories_info {
  display: flex;
  flex-direction: column;
}

.categories_title {
  font-size: 1.8rem;
  color: var(--red);
  margin-bottom: 1em;
  line-height: 1.4;
}

.categories_list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.categories_card {
  display: flex;
  align-items: center;
  gap: 1em;
}

.categories_icon {
  width: 2.4em;
  height: 2.4em;
  object-fit: contain;
}

.categories_name {
  font-size: 1.3rem;
  font-weight: bold;
}

.categories_gallery {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 0.5em;
}

.categories_thumb {
  flex: 1;
  width: 0;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  border-radius: 1em;
}
