/* 
* <576:     xs
* 576-768:  sm
* 768-992:  md
* 992-1200: lg
* 1200 -1400: xl
* >= 1400:  xxl
*/


@media (max-width: 1400px) {
    
}



@media (max-width: 1200px) {
    .stats-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media (max-width: 992px) {
    .brand-story {
        padding: 4em 15px;
    }
    
    .brand-story-top {
        grid-template-columns: 1fr;
    }
    
    .brand-story-image-wrapper {
        position: relative;
        top: auto;
    }
    
    .brand-story-grid {
        grid-template-columns: 1fr;
        gap: 2em;
    }
    
    .brand-story-slogan {
        white-space: normal;
    }

       .desktop-br {
        display: none;
    }
}



@media (max-width: 768px) {
    .stat-label {
        white-space: normal;
    }
    
    .slider-control {
        display: none;
    }

    .slider-dots {
        display: none;
    }


}




@media (max-width: 576px) {
    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
