/* 
* <576:     xs
* 576-768:  sm
* 768-992:  md
* 992-1200: lg
* 1200 -1400: xl
* >= 1400:  xxl
*/

@media (max-width: 1400px) {
}

@media (max-width: 992px) {
}

@media (max-width: 991px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  .contact {
    width: 100%;
    margin: 3em auto;
    padding-left: 1em;
    padding-right: 1em;
  }

  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
  .contact-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 609px) and (max-width: 991px) {
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}
